* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
}
